@import "fn";
@import "mixin/mixin";
@import "function";
@import "reset";

html, body, p, ul, h1, h2, h3, h4, h5, h5, h6 {
  margin: 0;
  padding: 0;
}
html{
  height: 100%;
}
body {
  font-family: "Microsoft YaHei";
  -webkit-font-smoothing: antialiased;
  height: 100%;
}
a {
  text-decoration: none;
}

li, ol {
  list-style-type: none;
}

.bar-tab ~ .content {
  bottom: 2.45rem;
}
#qiao-wrap {
  display: none!important;
}